
.primeLicense-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #F5FFFC;
  }
  
  .primeLicense-main-title,
  .primeLicense-sub-title {
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: normal;
    text-align: center;
    color: #2C2C2C;
    margin: 0;
  }
  
  .primeLicense-main-title {
    font-size: 40px;
    line-height: 50px;
    max-width: 619px;
    margin-top: 50px;
  }
  
  .primeLicense-sub-title {
    font-size: 40px;
    line-height: 50px;
    max-width: 619px;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  
  .primeLicense-items-container {
    margin-top: 20px;
  }
  
  .primeLicense-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .primeLicense-icon-wrapper {
    /* height: 100px;
    width: 100px; */
    position: relative;
    margin-right: 20px;
  }
  
  .group-icon {
    width: 85px;
  }
  
  .primeLicense-shape-icon {
    /* position: absolute; */
    position: relative;
    top: -45px;
    left: 50px;
    /* transform: translate(-50%, -50%); */
    height: 20px;
   
  }
  

  
  .primeLicense-text-gray {
    font-weight: bold;
    font-size: 24px;
    color: #6D6D6D;
    margin-left: 20px;
  }
  
  .primeLicense-text-orange {
    font-weight: bold;
    font-size: 24px;
    color: #F78154;
    margin-left: 8px;
  }
  
  .primeLicense-order-button {
    width: 315px;
    margin-top: 40px;
    padding: 12px 20px;
    background-color: #F78154;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  .primeLicense-order-button:hover {
    background-color: #d16a41;
  }
  
  @media (max-width: 400px) {
    .primeLicense-main-title,
    .primeLicense-sub-title {
      font-size: 24px;
      line-height: 32px;
      max-width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    .primeLicense-group-icon {
      width: 50px;
 
    }
  
    .primeLicense-shape-icon {
      height: 14px;
      top: -35px;
      left: 60%;
    }
  
    .primeLicense-text-gray,
    .primeLicense-text-orange {
      font-size: 16px;
      margin-left: 10px;
    }
  
    .primeLicense-order-button {
      width: 100%;
      font-size: 16px;
      padding: 10px;
    }
  }
